.buttons {
  margin: 5px 0px;
  background-color: #5aac44;
  color: #fff;
  height: 25px;
  border: 7px;
  border-radius: 3px;
  cursor: pointer;
}
.buttons:hover {
  background-color: #69c750;
}

.cross {
  margin: 5px;
  border: none;
  background-color: transparent;
  color: #959ead;
  cursor: pointer;
}
.cross:hover {
  color: #1d1f24;
}
.spn {
  padding: 6px 8px;
  display: block;
  margin: 10px;
  border: 2px transparent;
  border-radius: 3px;
  cursor: pointer;
}
.cardstyle:hover {
  background-color: hsla(28, 67%, 64%, 0.5);
}

.spn:hover {
  background-color: hsla(11, 77%, 53%, 0.5);
}
