.box {
  background-color: #ead3d9;
  border-radius: 3px;
  box-sizing: border-box;
  width: 250px;
  margin: 10px;
  max-height: calc(100% - 10px);
  padding: 10px;
  display: table;
  text-align: left;
}
.divstyle {
  display: flex;
}
.cardinputstyle {
  border: 2px;
  border-radius: 4px;
  height: 60px;
  width: 210px;
  font-family: 'Segoe UI';
  font-weight: 10px;
}
.cards {
  min-height: 10px;
  max-height: 60vh;
  overflow: auto;
}
.cardstyle {
  // padding: 5px;
  // background-color: white;
  // border: 2px;
  // border-radius: 2px;

  margin: 10px 0px;
  // height: auto;
  font-family: 'Segoe UI';
  font-weight: lighter;
  position: relative;
  padding: 0px 10px;
  // right: 70px;
}

.iconbtn {
  float: right;
  background-color: transparent;
  border: 4px;
  border-radius: 2px;
  color: #fff;
  height: 25px;
  position: relative;

  top: 50px;

  /*color: #c8f2ff;*/
}
.iconbtn:hover {
  color: #60bcd8;
  background-color: hsla(26, 38%, 46%, 0.5);
}
div:focus,
input:focus,
button:focus {
  outline: 0;
}
.card-style {
  height: fit-content;
  flex-direction: column;
  width: 100%;
  display: inline-flex;
  background-color: hsl(0, 0%, 100%);
  margin: 10px 0px;
  height: auto;
  align-items: center;
  border-radius: 5px;
}
.card-img {
  //height: auto;
  width: 100%;
}
.cardstyle {
  width: 80%;
}

.crd {
  display: flex;
  width: inherit;
}
.crd:hover {
  background-color: hsla(11, 77%, 53%, 0.5);
}
.design-icon {
  display: flex;
  flex-wrap: wrap;
}
.design-icon > i {
  font-size: 15px;
  font-weight: lighter;
}
.directioner {
  display: flex;
  flex-direction: column;
}
.style-image {
  background-color: white;
}
.box > input {
  border: 2px;
  border-radius: 5px;
  height: 25px;
  width: 90%;
  margin: 0px 10px;
}
.box > h4 {
  padding: 0px 10px;
  font-size: medium;
  font-family: sans-serif;
  margin: 10px 0px;
}
.input-editing {
  width: -webkit-fill-available;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
}
.design-cards {
  margin-top: -30px;
}
.design-icon {
  font-size: small;
  display: flex;
  flex-direction: row;
}
.date-design {
  display: flex;
  flex-direction: row;
}
.hyphen {
  top: -13px;
  position: relative;
}
.image-editor {
  padding: 5px;
}
