.newlist {
  background-color: #ead3d9;
  border-radius: 3px;
  box-sizing: border-box;
  max-height: 100%;
  padding: 10px;
  width: 220px;
  margin: 10px;
}
.list {
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
  width: 220px;
  background-color: rgba(233, 210, 216, 0.5);
  padding: 10px;
  margin: 0px 10px;
  position: absolute;
  top: 12px;
}
.list:hover {
  background-color: hsla(11, 77%, 53%, 0.5);
}
.titletext {
  width: 195px;
  height: 25px;
  border: 2px solid #e7667c;
  border-radius: 5px;
}
.spn {
  background-color: #e7667c;
}
.direct {
  display: flex;
  flex-direction: row;
}
