.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-styling {
  width: 100vh;
  min-height: 80vh;
  top: 20%;
  background: #c8f2fe;
  position: absolute;
  padding: 10px;
}
.add-photo-btn {
  border: 1px;
  padding: 0px 5px 5px 5px;
  border-radius: 5px;
  background: #62c0f4;
  color: #fff;
  cursor: pointer;
  margin: 3px;
}
.edit-button {
  height: 25px;
  position: relative;
  margin-bottom: 17px;
  border: none;
  background-color: ivory;
}
.division {
  display: flex;
  margin: none;
  margin: auto;
  align-items: flex-end;
}
.des-input {
  border: 1px solid red;
  width: 80%;
  height: 70px;
}
.addition-card {
  float: right;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.addition-card > button {
  margin: 5px 0px;
  background-color: #62c0f4;

  color: #fff;
  border-radius: 5px;
  border: 1px;
  padding: 6px;

  background: #62c0f4;

  cursor: pointer;
}

.addition-card > label:hover {
  background-color: #3b7392;
}
.cross-modal {
  border: 5px;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  float: right;
  position: absolute;
  right: 18px;
  z-index: 1000;
  top: 14px;
}
.img-name {
  margin-left: 20px;
}
.img-modal {
  width: 70px;
}
.banner {
  justify-content: center;
  width: auto;
  height: 20vh;
}
.modal-div1 {
  top: 20%;
  z-index: 1;
  width: 70vh;
}
.modal-content {
  display: flex;
}
.banner-div {
  display: flex;
  justify-content: center;
}
.attachments {
  display: flex;
}
.cardname {
  border: 0px;
  width: 90%;
  padding: 8px;
  border-radius: 5px;
}
.Date-button {
  border: 1px;
  padding: 0px 5px 5px 5px;
  border-radius: 5px;
  background: #62c0f4;
  color: #fff;
  cursor: pointer;
  margin: 3px;
}
.Date-button:hover {
  background-color: #3b7392;
}
.des-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
.save-btn {
  width: 20%;
  margin: 10px 0px;
  background-color: #5aac44;
  border: 2px;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}
.save-btn:hover {
  background-color: #69c750;
}
.listHead {
}
